<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.jmichalek.jaymichalekwguscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_studentTracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JayMichalekWGUScheduler">
        <activity
            android:name=".All.UI.CourseDetail"
            android:exported="true"
            android:label="@string/title_courseDetail" />
        <activity
            android:name=".All.UI.AssessmentDetail"
            android:exported="true"
            android:label="@string/title_assessmentDetail" />
        <activity
            android:name=".All.UI.AddAssessmentScreen"
            android:exported="true"
            android:label="@string/title_addAssessment" />
        <activity
            android:name=".All.UI.AddCourseScreen"
            android:exported="true"
            android:label="@string/title_addCourse" />
        <activity
            android:name=".All.UI.AddTermScreen"
            android:exported="true"
            android:label="@string/title_addTerm" />
        <activity
            android:name=".All.UI.TermDetail"
            android:exported="true"
            android:label="@string/title_termDetail" />
        <activity
            android:name=".All.UI.TermList"
            android:exported="true"
            android:label="@string/title_termList" />
        <activity
            android:name=".All.UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>